*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heading{
    position: sticky;
    top: 0;
    z-index: 10;
    height: 64px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#272921;
}
.heading p{
    color: #ffff;
    font-size:30px;
    font-weight: 400;
    border-bottom: 1px solid rgb(217, 116, 116);
}
.usersContainer{
    /* border: 1px solid red; */
    background-color: #E1EBEE;
    padding: 20px 0px 0px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45vh, 1fr));
    gap: 20px;
      
}

